# ----- .NET -----
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
.vs/
*.dll
*.pdb
appsettings.*.local.json

# ----- Node / Frontend -----
node_modules/
dist/
dist-ssr/
*.local
.vite/

# ----- Logs / OS / Editor -----
*.log
npm-debug.log*
.DS_Store
Thumbs.db
.idea/
*.swp

# ----- Env -----
.env
.env.*
!.env.example
